<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="37572TahmidRahman.WindowsGPACalculator" Publisher="CN=C93099AD-C821-4E67-BDC4-EEF3864D63A4" Version="1.1.0.10" />
  <mp:PhoneIdentity PhoneProductId="941c00f0-d720-419d-badd-1556aebc9646" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Windows GPA Calculator</DisplayName>
    <PublisherDisplayName>Tahmid Rahman</PublisherDisplayName>
    <Logo>Assets\5050.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="gpa_calculator.WindowsPhone.App">
      <m3:VisualElements DisplayName="Windows GPA Calculator" Square150x150Logo="Assets\150150.png" Square44x44Logo="Assets\4444.png" Description="gpa calculator.WindowsPhone" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\310150.jpg" Square71x71Logo="Assets\7171.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets/480800.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>